
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators d-none d-md-flex text-white">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner d-none d-md-block">
    <div class="carousel-item vh-100 active" data-bs-interval="10000">
      <img src="https://images.unsplash.com/photo-1629367309246-6eb0394a8262?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block fw-bold text-white">
        <h5>Guava A</h5>
        <p>Guava trees are native to tropical America and are grown in tropical and subtropical areas worldwide.</p>
      </div>
    </div>
    <div class="carousel-item vh-100" data-bs-interval="2000">
      <img src="https://images.unsplash.com/photo-1633349202776-39545fa23de7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block fw-bold text-white">
        <h5>Guava B</h5>
        <p>Looking not so good but taste same as Guava A! </p>
      </div>
    </div>
    <div class="carousel-item vh-100">
      <img src="https://images.unsplash.com/photo-1649251037465-72c9d378acb6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block fw-bold text-white">
        <h5>Sekinchan Sweet Corn</h5>
        <p>Sweet corn is the result of a naturally occurring recessive mutation in the genes..</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev d-none d-md-flex text-white" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon d-none d-md-flex" aria-hidden="true"></span>
    <span class="visually-hidden d-none d-md-flex fw-bold text-white w-50">Previous</span>
  </button>
  <button class="carousel-control-next d-none d-md-flex text-white " type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon d-none d-md-flex" aria-hidden="true"></span>
    <span class="visually-hidden d-none d-md-flex fw-bold text-white">Next</span>
  </button>
</div>
