<footer class="text-center text-white display-5">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->


  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: #617A55;">
    <p class="text-white fw-bold">
      © 2020 Copyright:
      <a class="text-white fw-bold" href="/">Guavaaa.com</a>
    </p>
  </div>
  <!-- Copyright -->
</footer>
