<section class="">
  <!-- Footer -->
  <footer class="text-white" style="background-color: #617A55;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Guavaaa</h5>
            Indulge in the freshest and juiciest fruits delivered straight
            to your doorstep with Guavaaa.com. Stay informed about
            the harvest time and secure your advance booking for
            an unmatched fruit experience. Taste nature's finest
            with every bite and savor the flavors of our hand-picked selection.
            Discover a world of fruit-filled delights with Guavaaa.com.
          <p>

          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Site Map</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white text-decoration-none">About</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Products</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">FAQ</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Reviews</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Social Media</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fa-brands fa-telegram"></i></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #2C3333">
      © 2023 Copyright:
      <a class="text-white" href="/">Guavaaa.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
