<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Please confirm your order!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>**Noted on this is self pick-up service!**</strong></p>
      </div>
      <div class="modal-footer">
        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'cart_id', @cart.id %>
          <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
