<div class="col-lg-7" >
  <section style="color: #000; background-color: #F7E1AE;">
    <div class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
          <h3 class="fw-bold text-white mb-4" data-aos="fade-up">Customers' reviews</h3>
          <p class="mb-4 pb-2 mb-md-5 pb-md-0 fw-bold" data-aos="fade-up">
          <mark>Welcome to Guavaaa, your ultimate tropical oasis! Get ready for a burst of freshness with our handpicked guavas straight from our orchards.
          Introducing Guavaaa's Gifty Packages: the perfect way to add a touch of tropical charm to any occasion.
          With our convenient self-pickup service, you can experience the joy of collecting your fruity delights in person.
          Order now and let the tropical magic unfold, right at your fingertips!</mark>
          </p>
        </div>
      </div>

      <div class="row text-center" data-aos="fade-up">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img src="https://images.pexels.com/photos/1359315/pexels-photo-1359315.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  class="shadow-1-strong" width="25" height="200" style="background-position: center; background-size: cover;"/>
              </div>
              <h5 class="font-weight-bold">Teresa May</h5>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm text-info"></i>
                </li>
              </ul>
              <p class="mb-2 text-dark">
                <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
                ad velit ab hic tenetur.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img src="https://images.pexels.com/photos/1359315/pexels-photo-1359315.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  class="shadow-1-strong" width="25" height="200" style="background-position: center; background-size: cover;"/>
              </div>
              <h5 class="font-weight-bold">Teresa May</h5>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm text-info"></i>
                </li>
              </ul>
              <p class="mb-2 text-dark">
                <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
                ad velit ab hic tenetur.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img src="https://images.pexels.com/photos/1359315/pexels-photo-1359315.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  class="shadow-1-strong" width="25" height="200" style="background-position: center; background-size: cover;"/>
              </div>
              <h5 class="font-weight-bold">Teresa May</h5>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm text-info"></i>
                </li>
              </ul>
              <p class="mb-2 text-dark">
                <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
                ad velit ab hic tenetur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="col-lg-3 img-faq mask"
     style="background-image: url('https://images.unsplash.com/photo-1567547921486-f280c2f53b5d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
            border-radius: 25% 10%;
            background-color: rgba(0, 0, 0, 0.6);">
  <h1 class="text-white fw-bold text-center py-5 my-3"data-aos="fade-left">FAQ</h1>
  <%= render "shared/accordion" %>

</div>
