<%# LOGIN NAVBAR %>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #617A55;">
  <div class="container-md">
    <% if user_signed_in? %>
      <div class="login-navbar">
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link text-white" %>
      </div>
    <% else %>
      <div class="login-navbar">
        <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
      </div>
    <% end %>
  </div>
</nav>
<%# LOGIN NAVBAR %>

<%# HEADER/BANNER/NAVBAR %>
<div class="header">
  <div class="wrapper">
    <div class="row flex justify-content-between align-items-center py-5">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <%= image_tag(asset_path('guavaa.png'), class: "logo-img") %>
     </div>
     <div class="col-lg-6 col-md-12 col-sm-12" >
        <ul class="nav-area">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Review</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="welcome-text">
    <h1>Sekinchan's local</h1>
    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    <a href="/">Contact US</a>
  </div>
</div>
<%# HEADER/BANNER/NAVBAR %>

<%# About %>
<div class="about">
  <div class="container about-section py-5">
    <div class="row d-flex g-5 justify-content-between align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="about-img shadow-effect" data-aos="fade-up" style="background-image: url('https://images.pexels.com/photos/1459331/pexels-photo-1459331.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 bg-white" data-aos="fade-up">
        <div class="about-content p-3">
          <h5>About <span class="fw-bold display-6">Guavaaa</span></h5>
          <p>Transitioning from being a construction worker to a fruit and vegetable farmer is tougher
          than changing careers to coding. After all, it requires a combination of physical and mental
          prowess. <strong>However, Mr. Pan, driven by an undying spirit, made the courageous decision to
          convert his rice fields into a sprawling fruit and vegetable garden. He began by cultivating
          sour kumquats, and then delved into the realms of guava and corn cultivation.</strong>
          It's not mere showmanship; numerous reviews have attested to Mr. Pan's exceptional guavas,
          and his corn harvests never fail to cause a frenzy. If you want to learn more, read on!</p>
        </div>
        <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      </div>
    </div>
  </div>
</div>
<%# About %>

<%# PRODUCTS %>
<div class="product">
  <div class="container-fluid product-section">
    <div class="row d-flex align-items-center">
      <div class="card mx-auto col-md-3 col-10 mt-5 pt-4">
          <div class="d-flex sale ">
              <div class="btn">SALE</div>
          </div>
          <img class='mx-auto img-thumbnail'
              src="https://i.imgur.com/WaZxrEe.jpg"
              width="auto" height="auto"/>
          <div class="card-body text-center mx-auto">
              <h5 class="card-title">Sofa Chair</h5>
              <p class="card-text">$1,399</p>
          </div>
      </div>
    </div>
  </div>
</div>
<%# PRODUCTS %>
