.about {
  background: #fff;
  height: 100%;
}

.about-img {
  width: 120%;
  height: 50vh;
  border-radius: 5px;
}

.shadow-effect {
  transition: all 0.5s;
}

.shadow-effect:hover {
  box-shadow: 10px 10px 0 0 #FFD95A;
}

.about-content {
  background: #FBFFB1;
  position: relative;
}

.avatar-large {
  position: absolute;
  top: -24px;
  right: -5px;
}


@media screen and (max-width: 600px) {
  .about-img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .about-img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .about-img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .about-img {
    width: 120%;
  }
}
