.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.back-top {
  position: fixed;
  bottom: 32px;
  right: 20px;
  width: 70px;
  height: 70px;
  opacity: 0;
  pointer-events: none;
  transition: all .4;
  font-size: 50px;
  z-index: 100;
}


.back-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.img-faq {
  height: 80%;
  width: 40%;
}

.product-show {
  width: 100%;
  position: relative;
}

.product-show1 {
  border: 1px solid white;
  padding: 10px;
  position: absolute;
  top: 224px;
  right: 750px;
}

.animate {
  font-size: 60px;
  line-height: 1;
  text-align: center;
  font-family: bebas neue;
  // background-image: url(https://images.pexels.com/photos/1414650/pexels-photo-1414650.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, green, cyan);
  background-size: 400% 400%;
  animation: animate 15s ease infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .back-top {

  }
}
@media only screen and (min-width: 600px) {
  .back-top {

  }
}

@media only screen and (min-width: 768px) {
  .back-top {

  }
}
