// .contact {
//   background: #FEFCFD;
//   height: 50vh;
// }
.map {
  border: 3px solid #40513B;
}
.address {
  width: 100%;
  height: 100%;
}

.shadow-effect-contact {
  transition: all 0.5s;
}

.shadow-effect-contact:hover {
  box-shadow: 10px 10px 0 0 #FFD95A;
}

.contact-icon {
  background-color:#40513B;
}

.contact {
  width: 100%;
  height: 100%;
  background-color: #40513B;

}
