<div class="container-fluid">
  <div id="products" class="p-3 m-3">
    <div class="row">
      <div class="col-lg-6" style="background-color:#B46060">
        <% @products.each do |product| %>
          <%= render product %>
        <% end %>
      </div>
      <div class="col-lg-6">
        <%= render partial: "carts/cart" if @render_cart %>
      </div>
    </div>
  </div>
</div>
